<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<title>Inventário Mercadinho - Início</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand text-white">Mercado</a>
			</div>
			<ul class="nav navbar-nav">
				<li class="active"><a href="index.html">Produtos</a></li>
				<li class="active"><a href="novo-fabricante.html">Cadastro de Fabricantes</a></li>
			</ul>
		</div>
	</nav>
	
	<div id="inicio" class="container mt-3">
		<div class="row">
			<div class="col-md-12 mx-auto">
			<h4>Cadastro de Produtos</h4>
			<br>
			<form id="form" v-on:submit.prevent="salvarProduto" autocomplete="off">
			  <div class="form-group">
			    <label for="nome">Nome</label>
			    <input type="text" class="form-control" id="nome" v-model="produto.nome"  required="required">
			  </div>
			  <div class="form-group">
			  	  <label for="fabricante">Fabricante</label>
				  <select class="form-control" required="required" v-model="produto.fabricante">
				    <option v-for="fabricante in listaFabricantes" v-bind:value="fabricante">
				    	{{ fabricante.nome }}
				    </option>
				  </select>
			  </div>
			  <div class="row">
			  	<div class="col-md-6">
				  <div class="form-group">
				    <label for="volume">Volume</label>
				    <input type="number" class="form-control" id="volume" v-model="produto.volume" required="required">
				  </div>
				 </div>
				 <div class="col-md-6">
				  <div class="form-group">
				    <label for="unidade">Unidade</label>
				    <input type="text" class="form-control" id="unidade" v-model="produto.unidade" required="required">
				  </div>
				 </div>
			  </div>
			  <div class="form-group">
			    <label for="estoque">Estoque</label>
			    <input type="number" class="form-control" id="estoque" v-model="produto.estoque" required="required">
			  </div>
			  <button class="btn btn-primary">Salvar</button>
			</form>
			
			<br><br>
			<div  class="table">
					<h4>Lista de Produtos</h4>
							<br>
							<table class="table">
								<tr>
									<th>Nome</th>
									<th>Fabricante</th>
									<th>Volume</th>
									<th>Unidade</th>
									<th>Estoque</th>
									<th>Ações</th>
								</tr>
								<tbody id="event-table">
									<tr v-for="produto in listaProdutos">
										<td>{{ produto.nome }}</td>
										<td>{{ produto.fabricante.nome }}</td>
										<td>{{ produto.volume }}</td>
										<td>{{ produto.unidade }}</td>
										<td>{{ produto.estoque }}</td>
										<td>
										<button type="button" @click="atualizarProduto(produto)" class="btn btn-primary btn-sm">&#9998;</button>
										<button type="button" @click="removerProduto(produto)" class="btn btn-danger btn-sm">&#10006;</button>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>

	<script src="resources/js/vue.js"></script>
	<script src="resources/js/axios.min.js"></script>
	<script src="resources/js/bootstrap-vue.js"></script>
	<script src="resources/js/bootstrap.min.js"></script>
	<script src="resources/js/index.js"></script>
</body>
</html>